.AppChat {
    background: rgba(255, 95, 0, 0.22);
    padding: 20px;
}

.message-reverse-box {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    background: rgba(128, 128, 128, 0.48);
    padding: 10px;
    border-radius: 10px;
}

